html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* https://stackoverflow.com/a/29313685/1438908 */
  overflow-y: hidden;
}

body {
  /*background-color: lightsalmon;*/
}

#bg {
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  background: white;
  text-align: center;
  padding: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: 24px;
}

@media (max-width: 600px) {
  #lying-is-bad {
    float: left;
    position: absolute;
    left: 15px;
    justify-content: initial;
  }
}

#gh-ref {
  float: right;
  right: 15px;
  position: absolute;
}
